.card__wrap {
  width: 1440px;
  display: flex;
  height: 1400px;
  position: relative;
  left: 29px;
  top: -260px;
  flex-wrap: wrap;

  &__card {
    width: 320px;
    height: 559px;
    margin: 8px;
    background: #f8f8f8;
    position: relative;
    left: 29px;
    display: flex;
    flex-direction: column;
    top: 1px;

    &__image__first {
      width: 287px;
      height: 287px;
    }

    &__image__second {
      position: relative;
      width: 19px;
      height: 18px;
      left: 272px;
      top: 39px;
    }

    &__text__first {
      background: #1f79ff;
      border-radius: 60px;
      width: 81px;
      position: relative;
      padding: 1px;
      color: white;
      position: relative;
      top: 46px;
      padding: 11px;
      left: 26px;
    }

    &__text__second {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      top: 80px;
      width: 219px;
      left: 26px;
      line-height: 22px;
      position: relative;
      color: #1f79ff;
    }

    &__text__third {
      width: 20px;
      position: relative;
      top: 59px;
      left: 295px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }
}
